* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.chelsea-market-regular {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chelsea Market", system-ui;
  margin: 0;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 12px;
}
h5,
h6 {
  font-size: 10px;
}
p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
}
.light {
  body {
    background-color: #ffffff;
  }
}

.container {
  max-width: 1280px;
  padding: 0 32px;
  margin: 0 auto;
}
.container-large {
  width: 100%;
  margin: 0 auto;
}
.dark {
  body {
    background-color: #101720;
  }
}

.btn {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.btn-primary {
  background-color: #e56b6f;
}
.dark {
  .btn-primary {
    background-color: darken(#e56b6f, 10%);
  }
}

textarea {
  outline: none;
  height: 150px;
  resize: vertical;
  font-family: "Lato", sans-serif;
}
