$color-100: darken(#355070, 15%);
$color-200: darken(#6d597a, 5%);
$color-300: darken(#b56576, 10%);
$color-400: darken(#e56b6f, 10%);
$color-500: darken(#e88c7d, 10%);
$color-600: darken(#eaac8b, 10%);
$theme-light-text: #f0f3fa;
$card-bg: darken(#6d597a, 5%);
// $card-bg: darken(#b56576, 5%);
$theme-text-color: #f8f8ff;
$theme-border-color: #899499;
$input-bg: #020d19;
