$color-100: #355070;
$color-200: #6d597a;
$color-300: #b56576;
$color-400: #e56b6f;
$color-500: #e88c7d;
$color-600: #eaac8b;
$theme-light-text: #f0f3fa;
$card-bg: #6d597a29;
// $card-bg: #b5657629;
$theme-text-color: #212121;
$theme-border-color: #a2a3a642;
$input-bg: #f8f8ff;
